<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="caminhoArquivoClientes" value="C:\Users\Vítor\Documents\Aulas\CSharp\Impacta\Roteiro\CSharp1\ImpactaCSharp1\CadastroClientesOO.txt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
