<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="caminhoArquivoClientes" value="C:\\ClientesTeste.txt"/>
    <add key="caminhoArquivoCor" value="C:\Users\vitor_000\Documents\Cor.txt"/>
    <add key="caminhoArquivoMarca" value="C:\Users\vitor_000\Documents\Marca.txt"/>
    <add key="caminhoArquivoModelo" value="C:\Users\vitor_000\Documents\Modelo.xml"/>
    <add key="caminhoArquivoVeiculo" value="C:\Users\vitor_000\Documents\Veiculo.xml"/>
  </appSettings>
</configuration>