<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="caminhoArquivoClientes" value="C:\Users\Vítor\Documents\Aulas\CSharp\Impacta\Roteiro\CSharp1\ImpactaCSharp1\CadastroClientesAula3.txt"/>
    </appSettings>
    <connectionStrings>
        <add name="Impacta.Capitulo04.Frete.Properties.Settings.ImpactaCSharp1ConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=ImpactaCSharp1;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
        <add name="ImpactaCSharp1Entities" connectionString="metadata=res://*/ImpactaCSharp1Model.csdl|res://*/ImpactaCSharp1Model.ssdl|res://*/ImpactaCSharp1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=ImpactaCSharp1;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
